name: Deployment

on:
  push:
    branches: main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up NodeJS
        uses: actions/setup-node@v2-beta
        with:
          node-version: "14"

      - uses: hashicorp/setup-terraform@v1

      - uses: google-github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          export_default_credentials: true

      - name: Build App
        run: |
          npm i
          npm run build

      - name: Package App
        run: |
          npm ci --only=prod
          npm i -g @ffflorian/jszip-cli
          npm run build:zip

      - name: Initialise terraform
        run: |
          cd deployment
          terraform init

      - name: Apply terraform
        run: |
          cd deployment
          terraform apply -var="bot_token=$BOT_TOKEN" -auto-approve
        env:
          BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}
